<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>

  <head>
    <% include ./partials/head %>
    <style>
      .form-item{
        margin: 2px;
      }
      .form-button {
        border-radius: 15%;
        background: grey;
        color: white;
      }
    </style>
  </head>
</head>

<body class="container">
  <!-- Add your EJS code here -->
  <header>
    <% include ./partials/_header %>
  </header>
  <main>
      <div class="jumbotron"> 
  <ul>
    <!--   <%= JSON.stringify(urls, null, 2)%> -->

    <% for(item in urls) { %>
      <li style="display: flex;line-height: 2; margin-bottom: 5px;">
          <a href="<%= urls[item] %>" target="blank" class="form-item" style="width:300px;">
              
                <%= item %>
                <span class="glyphicon n glyphicon-arrow-right"></span>
              
              <%= urls[item] %>
            </a>          
            <form method="GET" action="/urls/<%= item %>/put" class="form-item">
              <button type="submit" value="Update" name="id" id="<%= item %>" class="btn btn-default">Update <span class="glyphicon glyphicon-edit"></span></button>
            </form>
            <form method="POST" action="/urls/<%= item %>/delete" class="form-item">
              <button type="submit" value="Delete" name="id" id="<%= item %>" class="btn btn-danger">Delete <span class="glyphicon glyphicon-trash"></span></button>
            </form>
      </li>
      <% }; %>
  </ul>
  </div>
</main>
<footer>
    <% include ./partials/footer %>
</footer>
</body>

</html>